<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.maintenance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mobicartlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AdminMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/registerlable"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/forgotlable"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.ClientRegistration"
            android:label="@string/registerlable"
            android:parentActivityName=".activities.AdminMainActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.MachineRegister"
            android:label="@string/registerlable"
            android:parentActivityName=".activities.AdminMainActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.MachineMakeActivity"
            android:label="Machine Make"
            android:parentActivityName=".activities.AdminMainActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.MachineModelActivity"
            android:label="Machine Model"
            android:parentActivityName=".activities.AdminMainActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.MachineTypeActivity"
            android:label="Machine Type"
            android:parentActivityName=".activities.AdminMainActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.AdminProfileActivity"
            android:label="Profile"
            android:parentActivityName=".activities.AdminMainActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.UserApprovalActivity"
            android:label="User Approval List"
            android:parentActivityName=".activities.AdminMainActivity" />
        <activity
            android:name=".activities.UserApprovalDetailsActivity"
            android:label="User Details"
            android:parentActivityName=".activities.UserApprovalActivity" />
        <activity
            android:name=".activities.UserMainActivity"
            android:label="@string/title_activity_user_main"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.UserAlertActivity" />
        <activity android:name=".activities.MachineListActivity" />
        <activity android:name=".activities.ClientDetailsActivity" />
        <activity
            android:name=".activities.MachineSpareActivity"
            android:label="Machine Spare"
            android:parentActivityName=".activities.AdminMainActivity"
            android:theme="@style/navigatetheme" />
        <activity
            android:name=".activities.EmployeeMainActivity"
            android:label="@string/title_activity_employee_main"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>