<html>
    <body>
        <h3>Hi ${name},</h3>
        <p>
            Log in with below credential.
        </p>
        <h3>
          Your Credentials
        </h3>
        <p>
           Username: ${username}<br/>
           Password: ${password}
        </p>
        <p>
       Regards,<br/>
       Admin
       </p>
    </body>

</html>